.competition-li {
    background-color: #90909036;
    width: 230px;
    margin: 0 75px 20px 0;
    border: black 1px solid;
    border-radius: 14px;
    padding: 7px;

}

.emblem {
    max-height: 140px;
    margin-bottom: 40px;
}

.name {
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    margin-bottom: 15px;
}

.flag {
    width: 50px;
}

.country {
    margin-left: 5px;
}

.link-league {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competition-li {
    transition: background-color 0.5s ease;
}

.competition-li:hover {
    background-color: #7ef33549;
}