@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+1+Code:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0, 0, 0, 0.897);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #F6F2F2;
  overflow-y: overlay;
}